<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TSMU.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2010 Blue</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1'" />
    <add name="constr" connectionString="Data Source=MMTNOTE02\SQLSERVER2014;Database=BOM;User Id=sa;password=12345" />
    <add name="TSMU.My.MySettings.TSC16ApplicationConnectionString" connectionString="Data Source=srv08;Initial Catalog=TSC16Application;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="TSMU.My.MySettings.BoMConnectionString" connectionString="Data Source=HARIS\SQL2008R2;Initial Catalog=New_BoM;User ID=sa;Password=fid123!!" providerName="System.Data.SqlClient" />
    <add name="localhost_TSC16Application_Connection" connectionString="XpoProvider=MSSqlServer;data source=SRV08;user id=sa;password=Tsc2011;initial catalog=TSC16Application;Persist Security Info=true" />
    <add name="localhost_TSC16Application_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=10.10.1.10;user id=sa;password=Tsc2011;initial catalog=TSC16Application;Persist Security Info=true" />
    <add name="localhost_TSC16Application_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=SRV08;user id=sa;password=Tsc2011;initial catalog=TSC16Application;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <!--<add key="NewVersionServer" value="\\srv02\BoM\update\Sample\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <TSMU.My.MySettings>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value />
      </setting>
    </TSMU.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>